@page "/journeylists"
@using MudBlazor
@inherits LayoutComponentBase

<h3>JourneyLists</h3>

<MudStack>
	<MudPaper Class="pa-3">
		<MudAvatar>
			<MudImage Src="images/testprofil.png"></MudImage>
		</MudAvatar>
	</MudPaper>
	</MudStack>











@code {

}
