@page "/journeyproposal"
@using MudBlazor
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime


<!-- Note: The address components in this sample are based on North American address format. You might need to adjust them for the locations relevant to your app. For more information, see
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
	-->

<form id="address-form" action="" method="get" autocomplete="off">


	<div>

		<label class="full-field">
			<!-- Avoid the word "address" in id, name, or label text to avoid browser autofill from conflicting with Place Autocomplete. -->
			<span class="form-label">D'où partez vous?</span>
			<input id="ship-address"
				   name="ship-address"
				   required
				   autocomplete="off" />
		</label>

		<label class="full-field">
			<span class="form-label">Depart</span>
			<input id="locality" name="locality" required />
		</label>
	</div>



	<button type="button" class="my-button">Save address</button>

	<!-- Reset button provided for development testing convenience.
	Not recommended for user-facing forms due to risk of mis-click when aiming for Submit button. -->
	<input type="reset" value="Clear form" />
</form>


@functions {


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("initAutocomplete");

		}
	}

}