@page "/journeyproposal"
@using MudBlazor
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using FluentValidation
@using Severity = MudBlazor.Severity
@inject ISnackbar Snackbar



<MudGrid>
	<MudItem xs="4" Style="margin-top:10% ">
		<MudText Typo="Typo.h2" Color="Color.Primary" Style="width:auto; margin-left:3em">Votre Trajet</MudText>

	</MudItem>

	<MudPaper Style="max-width:40%; margin-top:5%" Elevation="3">
		<MudItem xs="8" Style="max-width:100%">

			<MudItem xs="8" Style="margin:auto; width:100%;" Outlined="true">

				<MudForm Style="margin:auto; width:80%;">
					<div>
						<MudText Style="width:100%; margin-bottom:1em" Typo="Typo.h5" class="form-label" Color="Color.Primary">D'où partez vous?</MudText>

						<div class="mud-field filled">
							<label class="full">
								<input id="ship-address"
									   name="ship"
									   required
									   autocomplete="off" />
							</label>
						</div>


						<MudText Style="width:100%; margin-bottom:1em" Typo="Typo.h5" class="form-label" Color="Color.Primary">Où allez vous?</MudText>
						<div class="">
							<label class="">

								<input 
									   
									   required
									   autocomplete="off" />
							</label>
						</div>


					</div>

					<MudText Style="width:100%; margin-bottom:1em" Typo="Typo.h5" class="form-label" Color="Color.Primary">Combien de passagers souaitez-vous emmener ?</MudText>
					<MudGrid class="counter">

						<MudItem xs="9" Style="width:100%;">

							<MudSlider TickMarks="true" Color="Color.Secondary" @bind-Value="@NumberPassager" TickMarkLabels="@labels" Step="1" Max="5" Min="1" />
						</MudItem>
						<MudItem xs="3" Style="width:100%;">
							<span class="counter-value">@NumberPassager </span>
						</MudItem>
					</MudGrid>

					<MudText Style="width:100%; margin-bottom:1em; margin-top:1em" Typo="Typo.h5" class="form-label" Color="Color.Primary">Quel est le prix de chaque place ?</MudText>

					<MudGrid class="counter">

						<MudItem xs="9" Style="width:100%;">
							<MudSlider TickMarks="true" Color="Color.Secondary" @bind-Value="@NumberPrice" Step="1" Max="99" Min="1" />
						</MudItem>
						<MudItem xs="3" Style="width:100%;">
							<span class="counter-value">@NumberPrice €</span>
						</MudItem>

					</MudGrid>

					<MudCardActions>
						<MudButton Variant="Variant.Filled" Style="margin-top:2em" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())" >Creer votre trajet</MudButton>
					</MudCardActions>


				</MudForm>

				@* </form> *@
			</MudItem>
		</MudItem>
	</MudPaper>
</MudGrid>




@functions {
	int NumberPrice = 15;
	int NumberPassager;
	string[] labels = new string[] { "1", "2", "3", "4", "5" };

	MudTextField<string> pwField1;
	MudForm form;


	private async Task Submit()
	{
		await form.Validate();

		if (form.IsValid)
		{
			Snackbar.Add("Submited!");
		}
	}



	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("initAutocomplete");

		}
	}

	private int counterValueVoyager = 0;
	private int counterValueEuro = 0;

	private void DecrementCounterVoyager()
	{
		if (counterValueVoyager > 0)
		{
			counterValueVoyager--;
		}
	}

	private void IncrementCounterVoyager()
	{

		counterValueVoyager++;
	}

	private void DecrementCounterEuro()
	{
		if (counterValueEuro > 0)
		{
			counterValueEuro--;
		}
	}

	private void IncrementCounterEuro()
	{

		counterValueEuro++;
	}
}
